<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <!-- To display contact info here, change `display_header_contact_info` value in _config.yml to true -->
        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

        <div class="title-bar no-print">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          {{ site.resume_header_intro | markdownify }}
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

        <div class="title-bar no-print" style="text-align:center">
        <h4>
          {% if site.resume_section_experience %}<a href="#experience">Experience</a>  &bull; {% endif %}
          {% if site.resume_section_education %}<a href="#education">Education</a> &bull; {% endif %}
          {% if site.resume_section_research %}<a href="#research">Research</a> &bull; {% endif %}
          {% if site.resume_section_publications %}<a href="#publications">Publications</a> &bull; {% endif %}
          {% if site.resume_section_software %}<a href="#software">Software</a> &bull; {% endif %}
          {% if site.resume_section_students %}<a href="#students">Students</a> &bull; {% endif %}
          {% if site.resume_section_teaching %}<a href="#teaching">Teaching</a> &bull; {% endif %}
          {% if site.resume_section_projects %}<a href="#projects">Projects</a> &bull; {% endif %}
          {% if site.resume_section_community %}<a href="#community">Community</a>{% endif %}
          {% if site.resume_section_links %} &bull; <a href="#links">Links</a>{% endif %}
        </h4>
        </div>

      </header>



      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2 id="experience">Experience</h2>
        </header>

        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="education">Education</h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
          <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
          <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
          <p class="resume-item-copy" itemprop="description">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul></h5>
          <p class="resume-item-copy">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>
      <!-- end Education -->
      {% endif %}


      {% if site.resume_section_research %}
      <!-- begin Research -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="research">Research</h2>
        </header>

        {% for researchitem in site.research %}
        <div class="resume-item" itemtype="http://schema.org/CreativeWork">
          <p>{{ researchitem.content | markdownify }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Research -->
      {% endif %}


      {% if site.resume_section_publications %}
      <!-- begin Publis -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="publications">Publications</h2>
        </header>

        {% for publi in site.publications %}
        <div class="resume-item" itemtype="http://schema.org/CreativeWork">
          <p>{{ publi.content | markdownify }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Publis -->
      {% endif %}


      {% if site.resume_section_software %}
      <!-- begin Soft -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="software">Software</h2>
        </header>

        {% for soft in site.software reversed %}
        <div class="resume-item" itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">
            {% if soft.link %}<a href="{{ soft.link }}">{{ soft.name }}</a>{% else %}{{ soft.name }}{% endif %}
          </h3>        
          <p>{% if soft.organization %}{{ soft.organization }}  &bull; {% endif %} 
             {{ soft.duration }}
             {% if soft.sources %} &bull; sources: <a href="{{ soft.sources }}">{{ soft.sources }}</a>{% endif %}
          </p>
          <p>{{ soft.content | markdownify }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Soft -->
      {% endif %}


      {% if site.resume_section_students %}
      <!-- begin Students -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="students">Students</h2>
        </header>

        <h3><strong>PhD Students</strong></h3>
        {% for student in site.data.students-phd %}
        <div class="resume-item">
          <h4 class="resume-item-details" itemprop="description">{{ student.name }} 
              ({{ student.school}}) &bull; {{ student.duration}}</h4>
          <p class="resume-item-copy">
          {% if student.url %}<a href="{{ student.url }}">{{ student.title }}.</a>{% else %}{{ student.title }}.{% endif %}
          {% if student.codir %}<br>co-supervised with {{ student.codir }}.{% else %}{% endif %}
          {% if student.alumni %}<br>{{ student.alumni | markdownify }}{% else %}{% endif %}
          </p>
        </div>
        {% endfor %}

        <h3><strong>Master and Engineer Students</strong></h3>
        {% for student in site.data.students %}
        <div class="resume-item">
          <h4 class="resume-item-details" itemprop="description">{{ student.name }} 
              ({% if student.degree %}{{ student.degree }}{% endif %} 
               {{ student.school}}) &bull; {{ student.duration}}</h4>
          <p class="resume-item-copy">
          {% if student.url %}<a href="{{ student.url }}">{{ student.title }}.</a>{% else %}{{ student.title }}.{% endif %}
          </p>
        </div>
        {% endfor %}
      </section>
      <!-- end Students -->
      {% endif %}


      {% if site.resume_section_teaching %}
      <!-- begin Teaching -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="teaching">Teaching</h2>
        </header>

        {% for teachitem in site.teaching %}
        <div class="resume-item" itemtype="http://schema.org/CreativeWork">
          <p>{{ teachitem.content | markdownify }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Teaching -->
      {% endif %}


      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="projects">Projects</h2>
        </header>

        {% for project in site.projects reversed %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">{% if project.link %}<a href="{{ project.link }}">{{ project.name }}</a>{% else %}{{ project.name }}{% endif %} ({{ project.network }})</h3>        
          {% if project.fullname %}<h4 class="resume-item-details" itemprop="description">{{ project.fullname }}</h4>{% endif %}
          <h4 class="resume-item-details" itemprop="description">{{ project.duration }}</h4>
          {% if project.role %}<h4 class="resume-item-details" itemprop="description">role: {{ project.role }}</h4>{% endif %}
          <p class="resume-item-copy">{{ project.content | markdownify }}</p>
        </div>
        {% endfor %}
      </section>
      <!-- end Projects -->
      {% endif %}


       {% if site.resume_section_community %}
      <!-- begin Community -->
      <section class="content-section">
        <header class="section-header">
          <h2 id="community">Community</h2>
        </header>
        {% for item in site.community %}
        <div class="resume-item" itemtype="http://schema.org/CreativeWork">
          <p>{{ item.content | markdownify }}</p>
       </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Community -->
      {% endif %}


      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2 id="skills">Skills</h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">{{ skill.skill }}</h4>
          <p class="resume-item-copy">{{ skill.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2 id="recognition">Recognition</h2>
        </header>

        {% for recognition in site.data.recognitions %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
          <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
          <p class="resume-item-copy">{{ recognition.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2 id="asso">Associations</h2>
        </header>

        {% for association in site.data.associations %}
        <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
          <p class="resume-item-copy">{{ association.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_interests %}
      <!-- begin Interests -->
      <section class="content-section">

        <header class="section-header">
          <h2 id="outside">Other Interests</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for interest in site.data.interests %}
            <li>{{ interest.description }}</li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Interests -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2 id="links">Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for link in site.data.links %}
            <li><a href={{ link.url }} itemprop="url">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made with the <a href="https://github.com/jglovier/resume-template">Resume</a> Jekyll template.</p>
      </footer>

    </div>

  </body>

</html>
